@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ecf3f3;
  --textColor: #404756;
  --textColorDark: #23272f;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --primary: #087ea4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progressbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--primary);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 9999;
}

.wrapper {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 80px;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.light {
  --bg: #ecf3f3;
  --textColor: #404756;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --primary: #087ea4;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --primary: white;
}

body {
  width: 100vw;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
  height: 0;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
    background: hsl(random(360), 70%, 50%);
  }
}

@media screen and (max-width: 768px) {
  .particle {
    display: none;
  }
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 100%;
    border: 1px solid gray;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid red;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid dodgerblue;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 700px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid green;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid yellow;
  }
}
